///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

//
// Font stacks
//

$font-stack-regular: sans-serif;

///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

@mixin default-font {
  font-family: $font-stack-regular;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0;
}
